# Byte-compiled / optimized / DLL files
__pycache__/

.idea/

# Input data
data/

experiments/
scripts/

# Experimental results
exp_results/
exp_settings/
exp_trained/

agg_hyper/
agg_results/
agg_settings/
agg_trained/

anti_hyper/
anti_results/
anti_settings/
anti_trained/
